@font-face {
    font-family: 'AvenirBlack'; /* Nombre que vas a usar */
    src: url('../../tipografia/Avenir-Black.ttf') format('truetype'); /* Ruta al archivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: AvenirBook;
    src: url(../../tipografia/Avenir-Book.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1{
    font-family: AvenirBlack, sans-serif;
    font-size: 48px;
}

p{
    font-family: AvenirLight, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: rgb(82, 81, 81);
}

button.button{
    background-color: #212121;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button.button:hover{
    background-color: #424242;
}
.all{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
main {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;          
    padding: 0 40px;         
}
.imatge img{
    width: 1200px;
    height: auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}
.menu button{
    background-color: #212121;
    color: white;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.menu button:hover{
    background-color: #424242;
}